.publicpage-ref {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
  background: rgb(214, 214, 214);
  font-family: "Heebo", sans-serif;
  align-items: center;
}

.calendar-events {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
  background: rgb(214, 214, 214);
  font-family: "Heebo", sans-serif;
  align-items: center;
  max-width: 1440px;
}

.header-ref {
  display: flex;
  height: 75px;
  width: 100vw;
  justify-content: space-between;
  background: transparent;
  /* box-shadow: 3px 7px 13px #3f3e4044; */
  font-family: "Heebo", sans-serif;
  padding: 5px;
  max-width: 1024px;
}

.events-ref {
  display: flex;
  height: 700px;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  font-family: "Heebo", sans-serif;
  max-width: 1024px;
  overflow-x: hidden;
}

.footer-ref {
  display: flex;
  height: 50px;
  width: 100vw;
  justify-content: space-around;
  background: transparent;
  /* box-shadow: -3px -7px 13px #3f3e4044; */
  font-family: "Heebo", sans-serif;
  padding: 3px;
  max-width: 1024px;
}

.account-settings-ref {
  width: 75px;
  height: 45px;
  background-color: rgb(81, 185, 255);
  color: black;
  border: none;
  font-size: 18px;
  display: flex;
  justify-content: center;
  outline: none;
  font-family: "Heebo", sans-serif;
  border-radius: 7px;
  box-shadow: 3px 7px 13px #3f3e4044;
}

.event {
  max-width: 675px;
  /* min-height: 150px; */
  display: flex;
  flex-direction: column;
  margin: 15px;
  justify-content: space-around;
  align-items: center;
  font-family: "Heebo", sans-serif;
  background: white;
  box-shadow: 3px 7px 13px #3f3e406c;
  border-radius: 7px;
  padding: 3px;
  height: auto;
}

.event-top {
  width: 100%;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Heebo", sans-serif;
  margin: 5px;
  padding: 5px;
  margin-bottom: 10px;
}

.creator-ref {
  height: 100%;
  width: 30px;
  display: flex;
  flex-direction: column;
  font-family: "Heebo", sans-serif;
}

.creator {
  height: 100%;
  width: 75px;
  margin: 1px;
}

.people {
  height: 15px;
  width: 40px;
  margin: 5px;
}

.title {
  width: 250px;
  height: 100%;
  font-size: 30px;
  font-family: "Heebo", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.message {
  width: 90%;
  height: auto;
  font-style: italic;
  font-family: "Heebo", sans-serif;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  overflow: hidden;
  margin-top: 15px;
  margin-bottom: 15px;
}

.event-buttons {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100px;
  font-family: "Heebo", sans-serif;
}

.login-logout {
  display: flex;
  align-self: center;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 380px;
  height: 500px;
  background: rgb(180, 178, 178);
  padding-top: 20px;
  font-family: "Heebo", sans-serif;
  box-shadow: 3px 7px 13px #3f3e406c;
  border-radius: 7px;
  margin-bottom: 50px;
}

.sign-up-link {
  color: rgb(0, 102, 255);
  font-family: "Heebo", sans-serif;
}

.welcome-back {
  font-size: 30px;
  font-family: "Heebo", sans-serif;
  margin-top: 10px;
}

.warning-text {
  font-size: 30px;
  font-family: "Heebo", sans-serif;
  margin-top: 10px;
  color: rgb(230, 22, 22);
}

.event-title {
  width: 100%;
  height: 30px;
  text-decoration: underline;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  font-family: "Heebo", sans-serif;
}

.calendar-ref {
  display: flex;
  height: 40vh;
  width: 90%;
  margin: 10px;
  flex-direction: column;
  overflow-y: auto;
  font-family: "Heebo", sans-serif;
  max-width: 1024px;
}

.my-events-ref {
  display: flex;
  height: 350px;
  width: 85vw;
  flex-direction: column;
  font-family: "Heebo", sans-serif;
  align-items: center;
  margin-bottom: 5px;
  max-width: 1024px;
  overflow-y: auto;
  overflow-x: hidden;
}
.my-map-ref {
  display: flex;
  height: 350px;
  width: 90vw;
  flex-direction: column;
  font-family: "Heebo", sans-serif;
  align-items: center;
  margin-bottom: 5px;
  max-width: 1024px;
  overflow: hidden;
}

.event-date {
  width: 100%;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.event-location {
  width: 100%;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 865px) {
  .calendar-events {
    flex-direction: row;
  }
  .my-events-ref {
    height: 80vh;
    width: 85vw;
  }

  .event {
    width: 45vw;
  }
  .calendar-ref {
    height: 80vh;
    overflow: hidden;
  }
}

@media (min-width: 2000px) {
  .my-events-ref{
    margin: 20px;
    width: 700px;
    height: 80vh;
  }
  .event {
    width: 45vw;
  }
}
