.publicpage-ref {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid black;
  height: 812px;
  width: 100vw;
  background: #e1dfe6;
}

.header-ref {
  display: flex;
  align-self: flex-start;
  height: 75px;
  width: 100vw;
  justify-content: flex-end;
  background: #7d7c80;
  box-shadow: 3px 7px 13px #3f3e4044;
}

.events-ref {
  display: flex;
  height: 700px;
  width: 100vw;
  flex-direction: column;
  overflow-y: scroll;
}

.footer-ref {
  display: flex;
  align-self: flex-end;
  height: 75px;
  width: 100vw;
  justify-content: space-around;
  background: #7d7c80;
  box-shadow: -3px -7px 13px #3f3e4044;
}

.home-button-ref {
  width: 75px;
  height: 100%;
  background: #3f3e40;
  color: white;
  border: none;
  font-size: 25px;
  display: flex;
  justify-content: center;
  outline: none;
}

.add-event-ref {
  width: 75px;
  height: 100%;
  border-radius: 180px;
  background: #1a3dd8;
  color: white;
  border: none;
  font-size: 25px;
  display: flex;
  justify-content: center;
  outline: none;
}

.account-settings-ref {
  width: 75px;
  height: 100%;
  background: #3f3e40;
  color: white;
  border: none;
  font-size: 25px;
  display: flex;
  justify-content: center;
  outline: none;
}

.event {
  width: 100vw;
  height: 150px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px dashed black;
  margin: 3px;
  justify-content: space-around;
  align-items: center;
}

.event-top {
  width: 100%;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.creator-ref {
  height: 100%;
  width: 30px;
  display: flex;
  flex-direction: column;
}

/* .creator {
}

.people {
} */

.title {
  width: 100px;
  height: 100%;
  text-decoration: underline;
  font-size: 30px;
}

.message {
  width: 100%;
  height: 20px;
  text-decoration: italic;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.event-buttons {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100px;
}

.login-logout {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 500px;
  background: #bcbabf;
  padding-top: 20px;
}

.sign-up-link {
  color: rgb(0, 102, 255);
}

.welcome-back {
  font-size: 30px;
}

.event-title {
  width: 100%;
  height: 30px;
  text-decoration: underline;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.calendar-ref {
  height: 310px;
  width: 100%;
}

.my-events-ref {
  display: flex;
  height: 350px;
  width: 100vw;
  flex-direction: column;
  overflow-y: scroll;
}
