.main-container-ref {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 1px solid black;
  height: 812px;
  width: 100vw;
  overflow-y: scroll;
  background: #e1dfe6;
  font-family: "Heebo", sans-serif;
}

.body-ref {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  width: 100vw;
  height: 100%;
  overflow-y: scroll;
  font-family: "Heebo", sans-serif;
}

.all-inputs-ref {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 150px;
  min-height: 150px;
  border: 1px solid black;
  overflow-y: scroll;
  font-family: "Heebo", sans-serif;
}

.input-ref-small {
  height: 25px;
  width: 125px;
  border: 1px solid black;
  margin: 2px;
  font-family: "Heebo", sans-serif;
}
.input-ref-medium {
  height: 25px;
  width: 200px;
  border: 1px solid black;
  margin: 2px;
  font-family: "Heebo", sans-serif;
}
.input-ref-large {
  height: 25px;
  width: 300px;
  border: 1px solid black;
  margin: 2px;
  resize: none;
  font-family: "Heebo", sans-serif;
}

.all-buttons-ref {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 150px;
  border: 1px solid black;
  overflow-y: scroll;
  min-height: 150px;
  font-family: "Heebo", sans-serif;
}

.button-ref-small {
  display: flex;
  justify-content: center;
  margin: 2px;
  width: 75px;
  height: 25px;
  font-family: "Heebo", sans-serif;
}
.button-ref-medium {
  display: flex;
  justify-content: center;
  width: 150px;
  height: 50px;
  margin: 2px;
  background-color: "#E1DFE5";
  font-family: "Heebo", sans-serif;
}
.button-ref-large {
  display: flex;
  justify-content: center;
  width: 300px;
  height: 75px;
  margin: 2px;
  font-family: "Heebo", sans-serif;
}

.all-dropdowns-ref {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 150px;
  border: 1px solid black;
  overflow-y: scroll;
  min-height: 150px;
  font-family: "Heebo", sans-serif;
}

.dropdown-ref {
  height: 25px;
  width: 150px;
  font-family: "Heebo", sans-serif;
}

.all-checkboxs-ref {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 150px;
  border: 1px solid black;
  overflow-y: scroll;
  min-height: 150px;
  font-family: "Heebo", sans-serif;
}

.checkbox-ref {
  height: 20px;
  width: 20px;
  font-family: "Heebo", sans-serif;
}

.all-colors-ref {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 150px;
  border: 1px solid black;
  overflow-y: scroll;
  min-height: 150px;
  font-family: "Heebo", sans-serif;
}

.color-ref-one {
  height: 20px;
  width: 200px;
  margin: 2px;
  border: 1px solid black;
  background: #faf7ff;
  font-family: "Heebo", sans-serif;
}
.color-ref-two {
  height: 20px;
  width: 200px;
  margin: 2px;
  border: 1px solid black;
  background: #e1dfe6;
  font-family: "Heebo", sans-serif;
}
.color-ref-three {
  height: 20px;
  width: 200px;
  margin: 2px;
  border: 1px solid black;
  background: #bcbabf;
  font-family: "Heebo", sans-serif;
}
.color-ref-four {
  height: 20px;
  width: 200px;
  margin: 2px;
  border: 1px solid black;
  background: #7d7c80;
  font-family: "Heebo", sans-serif;
}
.color-ref-five {
  height: 20px;
  width: 200px;
  margin: 2px;
  border: 1px solid black;
  color: white;
  background: #3f3e40;
  font-family: "Heebo", sans-serif;
}
.color-ref-six {
  height: 20px;
  width: 200px;
  margin: 2px;
  border: 1px solid black;
  color: white;
  background: #2a397c;
  font-family: "Heebo", sans-serif;
}
.color-ref-seven {
  height: 20px;
  width: 200px;
  margin: 2px;
  border: 1px solid black;
  color: white;
  background: #1a3dd8;
  font-family: "Heebo", sans-serif;
}
